*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#02aab0 , #00cdac);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form{
 width: 50%;   
 background-color: pink;

}
.company{
    margin-top: 0.4rem;
}
input{
    margin: 0.7rem;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    
}
button:hover{
    background-color: white;
    color: #131c21;
}
.image {
  display: flex;
  flex-direction: column; 
}
button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.5s ease;
    width: 100%;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    border: none;
    background-color: blue;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}
.header{
    width: 50%;
    background-color: white;
        text-align: center;
    border-top-right-radius: 7px;
    padding: 1rem;
    border-top-left-radius: 7px;
   box-shadow: 0px 0px 5px 5px rgba(0,00, 0, 0.1);
   color: #131c21;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image label{
    font-size: 1.2rem;
    transform: translateY(50%);
}
.form{

   color: #131c21;
}@media screen and (max-width:496px){
    .form{
        width: 100%;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }
    .header{
        margin-left: 0.4rem;
        margin-right: 0.4rem;
        width: 100%;
    }
}