<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail-IITI</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style_mainpage.css' %}">
    <link rel="icon" href="{% static 'img/4014657-buy-cell-online-phone-store_112888.png' %}">
    <style>
        .product {
            border-color: blue;
        }

        .product img {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- <section class="menu">
        <div class="account">
            <div class="icon">
                <a href=""> <i class="fa fa-user" style="font-size:36px"></i></a>
            </div>
            <h1>Hello,User</h1>
            <div class="burger2">
                <span class="lines1"></span>
                <span class="lines2"></span>
                <span class="lines3"></span>
            </div>
        </div>
        <div class="trending">
            <h1>Trending</h1>
            <a href="">Best Sellers</a>
            <a href="">Best Offers</a>
        </div>
        <div class="shopbydept">
            <h1>Shop By Department</h1>
            <a href="">Mobiles,Computers</a>
            <a href="">TV,Appliances,Electronics</a>
            <a href="">Men's Fashion</a>
        </div>
        <div class="help">
            <h1>Help & Settings</h1>
            <a href="#">Your Account</a>
            <a href="#">Customer Service</a>
            <a href="#">Sign Out</a>
        </div>
    </section> -->
    <section class="header">
        <h1>🆁🅴🆃🅰🅸🅻 - 🅸🅸🆃🅸</h1>
        <div class="search_box">
            <form action="/main-page/" method="POST">
                {% csrf_token %}
                <div style="padding: 0.7rem 0rem;">
                    <input type="text" name="search" placeholder="Search Products Here">
                    <!-- <i class="fa fa-search" style="font-size:24px"></i> -->
                </div>

            </form>
        </div>
        <div class="options">
            <div class="list">
                <a href="#">
                    <div class="accounts">
                        <p style="font-size: 0.8rem;">Hello, {{user1}}</p>
                        <strong>
                            Account Info
                        </strong>
                    </div>
                </a>
                <ul class="dropdown">
                    <li><a href="#">Browsing History</a></li>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="#">Your Orders</a></li>
                    <li><a href="#">Your Wishlist</a></li>
                    <li><a href="#">Create a Wishlist</a></li>
                    <li><a href="#">Switch Accounts</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
            <a href="#">
                <div>
                    <p style="font-size: 0.8rem;">Returns</p>

                    <strong>

                        &Orders
                    </strong>
                </div>
            </a>
            <a class="shopping" href="/main-page/cart/"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>
        </div>
    </section>

    <section class="navbar">

        <div class="itemslist">
            <li><a
                    href="/main-page/">Home</a></li>
            <li><a class="qwer" href="/main-page/electronics/">Electronics</a></li>
            <li><a class="qwer" class="qwer" href="/main-page/stationary/">Stationary</a></li>
            <li><a class="qwer" href="/main-page/household/">Household</a></li>
            <li><a style="background-color: white;color: black;padding: 0.25rem 0.4rem;" class="qwer" class="qwer" href="/main-page/fashion/">Fashion</a></li>
            <li><a class="qwer" href="/main-page/cart/">Cart</a></li>
            <li><a class="qwer" href="/main-page/orders/">Orders</a></li>
            <li><a class="qwer" href="/main-page/cart/">Profile</a></li>
            <li><a class="qwer" href="/main-page/aboutUs/">About Us</a></li>
        </div>
    </section>
    <section class="main">
        <!-- <div class="searchbyoptions"></div> -->


        <div class="container">

            {% for x in product %}

            <div class="box" style="height: 2rem;">
                <div class="product">
                    <a href="/main-page/{{ x.product_id }}/">
                        <img class="prImage" src="{{ x.image }}" alt="">
                    </a>

                </div>
                <div class="description">
                    <div style="flex: 0.75;">
                        <a style="color: black;" href="/main-page/{{ x.product_id }}/">
                            <p class="prName">{{ x.product_name }}</p>
                        </a>
                        <p style="font-size: 2.4rem; color: rgb(139, 74, 0);"> &#8377; {{ x.price }}</p>
                    </div>
                    <!-- <h1><i>Product ID</i> : {{ x.product_id }}</h1> -->

                    <p style="font-size: 1.5rem;">{{ x.company_name }}</p>
                    <p style="font-size: 2rem;">Currently <strong>{{ x.availability }}</strong></p>
                </div>

            </div>
            <hr>
            {% endfor %}

        </div>

    </section>
    </section>

    <style>
        .box:hover {
            z-index: 10;
            box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.8);
        }

        .box {
            margin-bottom: 1rem;
        }

        .product:hover {
            z-index: 20;
            box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.8);
        }
    </style>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>