
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
   <link rel="stylesheet" href="style_about.css">
   <title>Creative Our Team Section Using HTML & CSS | CSS Neumorphism</title>

   <!-- Created by S-Tech04 -->

</head>
<body>
    <div class="header">
        <h1> Meet Our Team</h1>
    </div>
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="image/WhatsApp Image 2021-11-01 at 12.20.57.jpeg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Yashwanth</h4>
                    <h5>Managed Frontend  of Retail-IITI</h5>
                </div>
                <!-- <div class="sci">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div> -->
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="image/WhatsApp Image 2021-10-31 at 14.20.48.jpeg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Mayank Tayal</h4>
                    <h5>Managed Database part,Login ,register forms,and some part of Backend </h5>
                </div>
                <!-- <div class="sci">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div> -->
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="image/WhatsApp Image 2021-11-01 at 18.09.00.jpeg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Aryan Yadav</h4>
                    <h5>Managed Backend  especially API Part</h5>
                </div>
                <!-- <div class="sci">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div> -->
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="image/WhatsApp Image 2021-11-02 at 09.01.55.jpeg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Vipul Mahajan</h4>
                    <h5>Managed Backend  especially Autherisation of admin</h5>
                </div>
                <!-- <div class="sci">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div> -->
            </div>
        </div>

    </div>
</body>
</html>
