<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style_itempage.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail-IITI</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_itempage.css' %}">
    <link rel="icon" href="{% static 'img/4014657-buy-cell-online-phone-store_112888.png' %}">
    <style>
        .product {
            border-color: blue;
        }

        .productimage img {
            height: 100%;
            width: 100%;
        }

        .product:hover {
            z-index: 20;
            box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.8);
        }

        .qwer:hover {
            background-color: white;
            color: black;
        }
    </style>
</head>

<body>

    <section class="header">
        <h1>🆁🅴🆃🅰🅸🅻 - 🅸🅸🆃🅸</h1>
        <div class="search_box">
            <input type="text" placeholder="Search Products Here">
       
        </div>
        <div class="options">
            <div class="list">
                <a href="/main-page/orders/">
                    <div class="accounts">
                        <p style="font-size: 0.8rem;">Hello, {{user}}</p>
                        <strong>
                           Account  Info
                        </strong>
                    </div>
                </a>
                <ul class="dropdown">
                    <li><a href="#">Browsing History</a></li>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="#">Your Orders</a></li>
                    <li><a href="#">Your Wishlist</a></li>
                    <li><a href="#">Create a Wishlist</a></li>
                    <li><a href="#">Switch Accounts</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
            <a href="/main-page/profile/">
                <div>
                    <p style="font-size: 0.8rem;">Returns</p>

                    <strong>

                        &Orders
                    </strong>
                </div>
            </a>
            <a class="shopping" href="/main-page/cart/"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>
        </div>
    </section>
    <section class="navbar">

        <div class="itemslist">
            <li><a
                    href="/main-page/">Home</a></li>
            <li><a class="qwer" href="/main-page/electronics/">Electronics</a></li>
            <li><a class="qwer" href="/main-page/stationary/">Stationary</a></li>
            <li><a class="qwer" href="/main-page/household/">Household</a></li>
            <li><a class="qwer" href="/main-page/fashion/">Fashion</a></li>
            <li><a class="qwer" href="/main-page/cart/">Cart</a></li>
            <li><a class="qwer" href="/main-page/wishlist/">Wishlist</a></li>
            <li><a class="qwer" href="/main-page/orders/">Orders</a></li>
            <li><a class="qwer" href="/main-page/profile/">Profile</a></li>
            <li><a class="qwer" href="/main-page/aboutUs/">About Us</a></li>
        </div>
    </section>



    {% for x in product %}
    <section class="main">
        <div class="selectoptions"> </div>
        <div class="productimage"> <img src="{{ x.product.image }}" alt=""></div>
        <div class="information" >
            <!-- <h1>{{price}}</h1>
            <h1><i>Product ID</i> : {{ x.product_id }}</h1>
            <h1><i>Product Name</i> : {{ x.product_name }}</h1> -->

            <!-- <h1><h1>Product ID</i> : {{ x.product.product_id }}</h1> -->
            <h1><h1>Product Name</i> : {{ x.product.product_name }}</h1>
            <h1><h1>Company Name</i> : {{ x.product.company_name }}</h1>
            <h1><h1>Availability</i> : {{ x.product.availability }}</h1>

            <form action="/main-page/cart/{{ x.product_id }}/" method="POST">
                {% csrf_token %}
                <label for="quantity"><b>Quantity : </b></label>
                
                <input type="number" style="text-align: center;width: 10%;" name="quantity" placeholder="{{ x.quantity }}">
                <!-- <select name="quantity" id="cars">
                {% for i in '0123456789'|make_list %}
                    
                    <button type="submit"><option value="{{ forloop.counter }}">{{ forloop.counter }}</option></button>
                {% endfor %}
                
                <option selected value="{{ x.quantity }}">{{ x.quantity }}</option> -->
                <input type="submit" value="submit">
                </select>

                <!-- <input type="text" name="search" placeholder="Search Products Here"> -->
            </form>

            <h1><i>Total Price</i> : {{ x.price_ht }}</h1>
            <!-- <h1><i>Created At</i> : {{ x.cart.created_at }}</h1> -->
            <h1><i>Added At</i> : {{ x.added_at }}</h1>
            <!-- <h1><i>Price per unit</i> : {{ x.price }}</h1>
            <h1><i>Company Name</i> : {{ x.company_name }}</h1>
            <h1><i>Availability</i> : {{ x.availability }}</h1> -->

            <div class="buttons">


                <form style="margin-left: 20%;" action="/main-page/orders/" method="POST">
                    {% csrf_token %}
                    <a class="buynow" href="/main-page/orders/">
                        <button type="submit"
                            style="border: none;background-color: rgb(253, 75, 10, 1);color: white;font-size: 1.1rem;"
                            name="order" value="{{ x.product_id }}">Buy Now</button>
                    </a>
                </form>

                <form action="/main-page/cart/" style="margin-right: 20%;" method="POST">
                    {% csrf_token %}
                    <a class="addtocart" href="/main-page/cart/">
                        <button type="submit"
                            style="border: none;background-color: rgb(253, 75, 10, 1);color: white;font-size: 1.1rem;"
                            name="remove" value="{{ x.product_id }}">Remove from Cart</button>
                    </a>

                </form>

            </div>
        </div>
    </section>
    {% endfor %}

    <!-- <script>
        const dropdown = document.querySelector('.dropdown')
        const list = document.querySelector('.list')
       
        const accounts = document.querySelector('.accounts')
        accounts.addEventListener('click', function () {
            dropdown.classList.toggle('comedown')
            list.classList.toggle('addcolor')
        })</script> -->
</body>

</html>