<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section class="header">
        <h1>Retail IITI</h1>
    </section>
    <nav class="navbar">
        <ul class="list">
        <li><a href="#">Feautured </a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Cart</a></li>
    </ul>
    </nav>
    <section class="center">
        <div class="text">
            <h1>We Provide You The Best <br> Shopping Experience</h1>
            <a href="#"> Shop</a>
        </div>
<div>
        <img class="image" src="https://i.pinimg.com/originals/82/ca/47/82ca47e16d1b19ee598a3e66e7d513de.jpg" alt="image">
    </div>
    
    </section>
</body>
</html>