<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
<h1>Add Product</h1>
    </div>
   <div class="form">
       <form action="#">
           <div class="company">
           <input type="text" placeholder="Company">
        </div>
        <div>
           <input type="text" placeholder="Product">
        </div>
        <div>
           <input type="text" placeholder="Price">
        </div>
        <div>
           <input type="text" placeholder="Availability">
        </div>
        <div class="image">
            <label for="">Upload Image</label>
            <input type="file">
        </div>
           <button type="submit">Submit</button>
       </form>
   </div>
</body>
</html>