<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_yourorders.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section class="header">
        <h1>🆁🅴🆃🅰🅸🅻 - 🅸🅸🆃🅸</h1>
        <div class="search_box">
            <form action="/main-page/" method="POST">
                {% csrf_token %}
                <div style="padding: 0.7rem 0rem;">
                    <input type="text" name="search" placeholder="Search Products Here">
                    <!-- <i class="fa fa-search" style="font-size:24px"></i> -->
                </div>

            </form>
        </div>
        <div class="options">
            <div class="list">
                <a href="#">
                    <div class="accounts">
                        <p style="font-size: 0.8rem;">Hello, {{user1}}</p>
                        <strong>
                            Account Info
                        </strong>
                    </div>
                </a>
                <ul class="dropdown">
                    <li><a href="#">Browsing History</a></li>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="#">Your Orders</a></li>
                    <li><a href="#">Your Wishlist</a></li>
                    <li><a href="#">Create a Wishlist</a></li>
                    <li><a href="#">Switch Accounts</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
            <a href="#">
                <div>
                    <p style="font-size: 0.8rem;">Returns</p>

                    <strong>

                        &Orders
                    </strong>
                </div>
            </a>
            <a class="shopping" href="/main-page/cart/"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>
        </div>
    </section>
    <section class="navbar">

        <div class="itemslist">
            <li><a class="qwer" href="/main-page/">Home</a></li>
            <li><a class="qwer" href="/main-page/electronics/">Electronics</a></li>
            <li><a class="qwer" href="/main-page/stationary/">Stationary</a></li>
            <li><a class="qwer" href="/main-page/household/">Household</a></li>
            <li><a class="qwer" href="/main-page/fashion/">Fashion</a></li>
            <li><a class="qwer" href="/main-page/cart/">Cart</a></li>
            <li><a class="qwer" href="/main-page/orders/">Orders</a></li>
            <li><a class="qwer" href="/main-page/cart/">Profile</a></li>
            <li><a class="qwer" href="/main-page/aboutUs/">About Us</a></li>
        </div>
    </section>
    <div class="headercart">
        <h1>Your Orders</h1>

    </div>

    <hr>
    <div class="cart">
        {% for x in product %}
        <div style="display: flex;">
            <div>
                <a href="/main-page/orders/{{ x.id }}/">
                    <img class="prImage" src="{{ x.product.image }}" alt="">
                </a>
            </div>

            <div class="descriptionproduct">
                <div class="text">
                    <a style="color: black;" href="/main-page/orders/{{ x.id }}/">
                        <h2>{{ x.product.product_name }}</h2>
                    </a>
                    <br>
                    <p style="font-size: 1.5rem;">{{ x.product.company_name }}</p>

                </div>
            </div>
            <div style="margin: 4rem;">
                <h3>Price</h3>
                <h4>{{ x.price_ht }}</h4>
            </div>
        </div>
        <hr>
        {% endfor %}

        <h2>Status</h2>
        <h2>Quantity : </h2>
        <h2>Total Price :</h2>
        <div class="cartoptions">
            <!-- <select name="" id="">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select> -->

            <a href="#">Cancel Order </a>
            <a href="#">Track Order</a>
        </div>
    </div>

    </div>


    <hr>

    <!-- <div class="proceed">
    <h2>Subtotal : </h2>
    <button>Proceed to Buy</button>
</div> -->

</body>
<script>
    const burger = document.querySelector('.burger')
    const menu = document.querySelector('.menu')
    const dropdown = document.querySelector('.dropdown')
    const list = document.querySelector('.list')
    burger.addEventListener('click', function () {
        burger.classList.toggle('toggle');
        burger.classList.toggle('hiburger');
        menu.classList.toggle('closemenu')
    });
    const accounts = document.querySelector('.accounts')
    accounts.addEventListener('click', function () {
        dropdown.classList.toggle('comedown')
        list.classList.toggle('addcolor')
    })
</script>

</html>