<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style_itempage.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product | Retail-IITI</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_itempage.css' %}">
	<link rel="icon" href="{% static 'img/4014657-buy-cell-online-phone-store_112888.png' %}">
    <style>
        .product{
            border-color: blue;
        }
        .productimage img{
            height: 100%;
            width: 100%;
        }
        .product:hover{
        z-index: 20;
        box-shadow: 10px 10px 10px rgb(0,0,0,0.8);
    }
    .qwer:hover{
        background-color: white;
        color: black;
    }
    input {
		background-color: rgb(224, 221, 221);
		border: none;
		padding: 12px 15px;
		margin: 8px 0;
		width: 60%;
		text-align: center;
	}
    input:focus{
		background-color: rgb(248, 248, 248);
	}
    </style>
</head>
<body>
    <section class="menu">
        <div class="account">
            <div class="icon">
         <a href="#"> <i class="fa fa-user" style="font-size:36px"></i></a>
      </div>
         <h1>Hello,User</h1>
         <div class="burger2">
             <span class="lines1"></span>
             <span class="lines2"></span>
             <span class="lines3"></span>
         </div>
        </div>
        <div class="trending">
            <h1>Trending</h1>
      <a href="#">Best Sellers</a>
      <a href="#">Best Offers</a>
        </div>
        <div class="shopbydept">
            <h1>Shop By Department</h1>
            <a href="#">Mobiles,Computers</a>
            <a href="#">TV,Appliances,Electronics</a>
            <a href="#">Men's Fashion</a>
        </div>
        <div class="help">
            <h1>Help & Settings</h1>
            <a href="#">Your Account</a>
            <a href="#">Customer Service</a>
            <a href="#">Sign Out</a>
        </div>
    </section>
    <section class="header">
        <h1>Retail IITI</h1>
        <div class="search_box">
            <input type="text" placeholder="Search Products Here">

        </div>
        <div class="options">
            <div class="list">
                <a href="#" class="accounts"> Accounts & Lists</a>
                <ul class="dropdown">
                    <li><a href="#">Browsing History</a></li>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="#">Your Orders</a></li>
                    <li><a href="#">Your Wishlist</a></li>
                    <li><a href="#">Create a Wishlist</a></li>
                    <li><a href="#">Switch Accounts</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
            <a class="returns" href="#">Returns &Orders</a>
            <a class="shopping" href="/main-page/cart/"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>
        </div>
    </section>
    <section class="navbar">

        <div class="itemslist">
            <li><a
                    href="/Retailer/">Home</a></li>
            <li><a class="qwer" href="/Retailer/add/">Add New Products</a></li>
            <li><a style="background-color: white;color: black;padding: 0.25rem 0.4rem;" class="qwer" class="qwer" href="/Retailer/orders/">Your Orders</a></li>
            <li><a class="qwer" href="/Retailer/Profile/">Profile</a></li>
            <li><a class="qwer" href="/main-page/aboutUs/">About Us</a></li>
        </div>
    </section>


    {% for x in product %}
    <section class="main">
        <div class="selectoptions"> </div>  
        <div class="productimage"> <img src="{{ x.product.image }}" alt=""></div>
        <div class="information" style="text-align: center;">
            <!-- <h1>Title:</h1>
            <h1>Price:</h1>
            <h1>Name:</h1> -->
            <h1><i>Order ID</i> : {{ x.id }}</h1>
            <h1><i>Product ID</i> : {{ x.product.product_id }}</h1>
            <h1><i>Product Name</i> : {{ x.product.product_name }}</h1>
            <h1><i>Total Price</i> : {{ x.price_ht }}</h1>
            <h1><i>Quantity</i> : {{ x.quantity }}</h1>
            
            <!-- <h1><i>Availability</i> : {{ x.product.availability }}</h1> -->
            <div class="buttons">

            <!-- <form action="/main-page/cart/" method="POST">
                {% csrf_token %}
                <a class="buynow" href="#">Buy Now</a>
                <a class="addtocart" href="/main-page/cart/">
                    <button type="submit" style="border: none;background-color: rgb(253, 75, 10,1);color: white;font-size: 1.1rem;" name="remove" value="{{ x.product_id }}">Remove from Cart</button>
                </a>
            </form> -->

            <form style="text-align: center;" action="/Retailer/orders/{{ x.id }}/" method="POST">
                {% csrf_token %}
                <!-- <a class="buynow" href="#">Buy Now</a> -->
                <h1 style="margin-top: 0rem;margin-bottom: 3rem;"><i>Status</i> : <input type="text" style="text-align: center;" placeholder="{{x.Status}}" name="status"> </h1>
                <a class="buynow" href="/Retailer/orders/{{ x.id }}/">
                    <button type="submit" style="margin-bottom:1rem;border: none;background-color: rgb(253, 75, 10, 1);color: white;font-size: 1.1rem;" name="cancel" value="{{ x.id }}">Make Changes</button>
                </a>
                <!-- <a class="addtocart" href="/main-page/cart/">
                    <button type="submit" style="border: none;background-color: rgb(253, 75, 10, 1);color: white;font-size: 1.1rem;" name="name" value="{{ x.product_id }}">Add to Cart</button>
                </a> -->
                
            </form>

        <!-- <form action="/main-page/cart/" style="margin-right: 20%;" method="POST">
            {% csrf_token %}

            <a class="addtocart" href="/main-page/cart/">
                <button type="submit" style="border: none;background-color: rgb(253, 75, 10, 1);color: white;font-size: 1.1rem;" name="name" value="{{ x.product_id }}">Add to Cart</button>
            </a>
            
        </form> -->

        </div>
        </div>
    </section>  
    {% endfor %}
      

    <script src="app_itempage.js"></script>
</body>
</html>