<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_yourorders.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/4014657-buy-cell-online-phone-store_112888.png' %}">
    <title>Orders | Retail-IITI</title>
</head>

<body>

    <section class="header">
        <h1>Retail IITI</h1>
        <div class="search_box">
            <input type="text" placeholder="Search Products Here">

        </div>
        <div class="options">
            <div class="list">
                <a href="#" class="accounts"> Accounts & Lists</a>
                <ul class="dropdown">
                    <li><a href="#">Browsing History</a></li>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="#">Your Orders</a></li>
                    <li><a href="#">Your Wishlist</a></li>
                    <li><a href="#">Create a Wishlist</a></li>
                    <li><a href="#">Switch Accounts</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
            <a class="returns" href="#">Returns &Orders</a>
            <!-- <a class="shopping" href="/main-page/cart/"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a> -->
            <a class="shopping" href="/" onclick="preventBack()"><i class="fa fa-sign-out" style="font-size:20px;">Logout</i></a>
        </div>
    </section>
    <section class="navbar">

        <div class="itemslist">
            <li><a
                    href="/Retailer/">Home</a></li>
            <li><a class="qwer" href="/Retailer/add/">Add New Products</a></li>
            <li><a style="background-color: white;color: black;padding: 0.25rem 0.4rem;" class="qwer" class="qwer" href="/Retailer/orders/">Your Orders</a></li>
            <li><a class="qwer" href="/Retailer/Profile/">Profile</a></li>
            <li><a class="qwer" href="/main-page/aboutUs/">About Us</a></li>
        </div>
    </section>
    <div class="headercart">
        <h1>Your Orders</h1>

    </div>

    <hr>
    <div class="cart">
        {% for x in product %}
        <div style="display: flex;">
            <div>
                <a href="/Retailer/orders/{{ x.id }}/">
                    <img class="prImage" src="{{ x.product.image }}" alt="">
                </a>
            </div>

            <div class="descriptionproduct">
                <div class="text">
                    <a style="color: black;" href="/Retailer/orders/{{ x.id }}/">
                        <h2>{{ x.product.product_name }}</h2>
                    </a>
                    <br>
                    <p style="font-size: 1.5rem;">{{ x.product.company_name }}</p>
                    
                </div>
            </div>
            <div style="margin: 4rem;">
                <h3>Price</h3>
                <h4>{{ x.price_ht }}</h4>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>

    </div>


    <hr>

    <!-- <div class="proceed">
    <h2>Subtotal : </h2>
    <button>Proceed to Buy</button>
</div> -->

</body>
<script>
    const burger = document.querySelector('.burger')
    const menu = document.querySelector('.menu')
    const dropdown = document.querySelector('.dropdown')
    const list = document.querySelector('.list')
    burger.addEventListener('click', function () {
        burger.classList.toggle('toggle');
        burger.classList.toggle('hiburger');
        menu.classList.toggle('closemenu')
    });
    const accounts = document.querySelector('.accounts')
    accounts.addEventListener('click', function () {
        dropdown.classList.toggle('comedown')
        list.classList.toggle('addcolor')
    })
</script>

</html>